.idea
*.iws
.DS_Store
out/
da17/build
da17/nbproject/private
da17/da17-ejb/build
da17/da17-ejb/nbproject/private
da17/da17-war/build
da17/da17-war/nbproject/private
/da17/da17-ejb/dist/
/da17/dist/
/da17/da17-war/dist/
da17/da17-ejb/dist/da17-ejb.jar
da17/da17-ejb/nbproject/project.properties
da17/da17-war/dist/da17-war.war
da17/dist/da17.ear
da17/nbproject/project.properties
